Repository prgrms-fe-devcourse/NFE1-1-3-KR, pull requests merged in 2024-10, with the labels that each got.

#3 Feat/#2 book api 구현
  .gitignore
  package.json
  src/api/book.ts
  src/lib/supabase.ts
  yarn.lock
Labels: 📬 API

#8 Feat/#6 Slider 컴포넌트 스타일링
  src/pages/home/PopularBooks.tsx
  src/pages/home/Slide.tsx
  src/pages/home/SlideItem.tsx
  src/pages/home/index.ts
  src/utils/sliderUtils.ts
Labels: ✨ Feature, 🎨 Html&css

#11 Feat/#4 book modal layout
  public/Icon/X.svg
  public/Icon/heart.svg
  public/Icon/white-heart.svg
  src/App.tsx
  src/pages/modal/BookModal.tsx
  src/pages/modal/SlidingTitle.tsx
  src/pages/modal/index.ts
  tailwind.config.js
Labels: 🎨 Html&css

#12 Feat/#7 커뮤니티 페이지 UI/UX 구현
  eslint.config.js
  package.json
  public/bg/Ellipse.svg
  public/bg/cloud-1.svg
  public/bg/cloud-3.svg
  public/bookmark-search.svg
  public/caption.svg
  public/chevron-bottom.svg
  public/close.svg
  public/empty-heart.svg
  public/full-heart.svg
  public/search-icon.svg
  src/App.tsx
  src/components/Common/index.ts
  src/components/Layout/index.ts
  src/components/common/Button.tsx
  src/components/common/ContentsContainer.tsx
  src/components/common/SearchBar.tsx
  src/components/common/index.ts
  src/components/index.ts
  src/components/layout/Header.tsx
  src/components/layout/HeaderTest.tsx
  src/components/layout/Layout.tsx
  src/components/layout/MenuButton.tsx
  src/components/layout/index.ts
  src/context/BackgroundColorContext.tsx
  src/context/ModalContext.tsx
  src/context/index.ts
  src/globals.css
  src/hooks/index.ts
  src/hooks/useSetBackgroundColor.ts
  src/pages/community/Background.tsx
  src/pages/community/CommunityPage.tsx
  src/pages/community/ContentsWrapper.tsx
  src/pages/community/PopularPosts.tsx
  src/pages/community/Post.tsx
  src/pages/community/SearchModal.tsx
  src/pages/community/WritePost.tsx
  src/pages/community/index.ts
  src/pages/index.ts
  src/styles/index.ts
  src/styles/scroll.css
  yarn.lock
Labels: 🎨 Html&css

#14 Feat/#13 마이페이지 UI 구현
  public/Icon/comment.svg
  public/Icon/google.svg
  public/Icon/post.svg
  public/bg/cloud-4.svg
  public/bg/cloud-5.svg
  src/App.tsx
  src/components/common/ContentsContainer.tsx
  src/pages/modal/BookModal.tsx
  src/pages/mypage/MyPage.tsx
  src/pages/mypage/MyPageContent.tsx
  src/pages/mypage/Section.tsx
  src/pages/mypage/index.ts
  tailwind.config.js
Labels: 🎨 Html&css

#17 Feat/#15 인트로 페이지 레이아웃 작업
  index.html
  src/App.tsx
  src/components/common/Background.tsx
  src/components/common/index.ts
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/hooks/index.ts
  src/hooks/useIntersectionObserver.ts
  src/hooks/useSetBackgroundColor.ts
  src/pages/community/CommunityPage.tsx
  src/pages/community/ContentsWrapper.tsx
  src/pages/community/index.ts
  src/pages/home/HomePage.tsx
  src/pages/home/Intro.tsx
  src/pages/home/Slide.tsx
  src/pages/home/SlideTemp.tsx
  src/pages/home/index.ts
  src/pages/index.ts
  src/pages/modal/BookModal.tsx
  src/stores/index.ts
  src/stores/introStore.ts
Labels: 🎨 Html&css

#18 Feat/#16 애니메이션 추가 구현
  src/components/common/Cloud.tsx
  src/components/common/ContentsContainer.tsx
  src/components/common/index.ts
  src/hooks/index.ts
  src/hooks/useBookCoverAnimation.tsx
  src/hooks/useRibbonAnimation.tsx
  src/pages/modal/BookModal.tsx
  src/pages/modal/Rating.tsx
  src/pages/mypage/MyPage.tsx
Labels: 🎨 Html&css, 🔨 Refactor

#23 Feat/#20 책 검색 api 구현
  src/api/book.ts
  src/types/book.ts
Labels: 📬 API
